@model List<Model.EF.Product>
@foreach (var item in Model)
{
    var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
    <div class="grid_1_of_4 images_1_of_4">
        <a href="@url"><img src="@item.Images" alt="" /></a>
        <h2>@item.Name </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">@(item.Price.HasValue? item.Price.Value.ToString("N0"):"Liên Hệ" )</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="/them-vao-gio?productID=@item.ID&quantityN=1">Thêm Vào Giỏ</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
}

