@model List<Model.EF.Slide>

    <div id="mover">
        @foreach (var item in Model)
        {
            <div id="slide-1" class="slide">
                <div class="slider-img">
                    <a href="preview.html"><img src="@item.Image" alt="learn more" /></a>
                </div>
                <div class="slider-text">
                    <h1>Bán<br><span>Giảm giá</span></h1>
                    <h2>Giảm 20% giá </h2>
                    <div class="features_list">
                        <h4>Xem chi tiết sản phẩm</h4>
                    </div>
                    <a href="preview.html" class="button">Mua Ngay</a>
                </div>
                <div class="clear"></div>
            </div>
        }


    </div>
